id_rsa*
logs/**
*/.terraform
*/.terraform*
*/*.tfstate
*/*.tfstate*
config/config.sh
config/secrets.sh
config/openrc.sh
config/rclone.conf
ansible/hosts.cfg
ansible/files/**
files/**
files_complete/*
test.sh
