id_rsa*
logs/**
*/.terraform
*/.terraform*
*/*.tfstate
*/*.tfstate*
config/config.sh
config/secrets.sh
config/openrc.sh
config/rclone.conf
ansible/hosts.cfg
ansible/group_vars/all/ansible_vars.yaml
files/**
files_download/**
files_upload/***
test.sh
